body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#game_board_container {
    padding: 30px;
    display: flex;
    justify-content: center;
}

#result_dialog {
    width: 400px;
    height: 200px;
}

#header {
    height: 200px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 7fr 3fr;
    background-color: aliceblue;
}

#new_game {
    justify-self: start;
}



#game_board {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 50px;
}

#cell_0,
#cell_1,
#cell_3,
#cell_4,
#cell_6,
#cell_7 {
    border-right: 3px solid black;
}

#cell_0,
#cell_1,
#cell_2,
#cell_3,
#cell_4,
#cell_5 {
    border-bottom: 3px solid black;
}

#restart_container {
    padding: 30px;
    display: flex;
    justify-content: center;
}

#restart {
    width: 225px;
    height: 70px;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    background-color: chartreuse;

}